[Desktop Entry]
Name=RSS Reader
Comment=A clean RSS Reader
Exec=ubuntu-html5-app-launcher --www=www $@
Icon=RSSreader.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

