[Desktop Entry]
Name=RSS Reader
Comment=A clean RSS Reader
Exec=webapp-container --local-content-can-access-remote-urls ./www/index.html
Icon=RSSreader.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
